<table class="w-full text-sm bg-white shadow rounded">
  <thead class="bg-red-100 text-xs">
    <tr>
      <th class="px-3 py-1 text-left">Trade ID</th>
      <th class="px-3 py-1 text-left">Reason</th>
      <th class="px-3 py-1 text-right">Detected</th>
    </tr>
  </thead>
  <tbody>
    {% for b in breaks %}
    <tr class="border-t">
      <td class="px-3 py-1">{{ b.trade_id }}</td>
      <td class="px-3 py-1">{{ b.reason }}</td>
      <td class="px-3 py-1 text-right text-xs">{{ b.detected_ts }}</td>
    </tr>
    {% else %}
    <tr><td colspan="3" class="text-center py-4 text-gray-400">No breaks</td></tr>
    {% endfor %}
  </tbody>
</table>
